html {
  scroll-behavior: smooth;
}
.ant-layout {
  background: white;
}
.home-container {
  height: 100vh;
  width: 80%;
  margin-left: 10%;
}

.home-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 15%;
  background-color: white;
  font-family: source sans pro, Helvetica, Arial, sans-serif;
  margin-top: 50px;
}

.home-info h1 {
  margin: 0;
  font-size: 2em;
  color: #e60f4b;
  font-weight: bold;
}

.home-info p {
  margin: 0;
  font-size: 1.2em;
  color: black;
}

/* .hacer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 650px;
}

.wrapper-hacer {
  display: flex;
  justify-content: center;
}
.images {
  width: calc(50% - 5px);
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}
.images img {
  width: 100%;
  object-fit: cover;
}
.img_1 {
  grid-column: 1 / 2;
  grid-row: 1;
}

.img_1 img {
  width: auto;
}

.img_msc1 {
  grid-row: 1;
  grid-column: 2/3;
  width: 10%;
}


.img_msc2{
  grid-row: 1;
  grid-column: 3/4;
  width: 10%;
}

.img_msc3{
  grid-row: 2;
  grid-column: 2/3;
  width: 10%;
}

.img_msc4{
  grid-row: 2;
  grid-column: 3/4;
  width: 10%;
}
.section {
  padding: 40px 0;
} */
