.contenido {
  height: 100vh;
}

.contenedor {
  /* height: 100vh; */
  text-align: center;
  width: 80%;
  background-color: white;
  margin-left: 10%;
  /* padding-left: 2.5%; */
}

.imagenes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
